server {
        listen 80 default_server;

        root /var/www/html;

        server_name "ec2-13-58-6-187.us-east-2.compute.amazonaws.com";

        location / {
                try_files $uri $uri/ =404;
        }
}

